<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<%= link_to "Add User", new_user_path %>
<%= link_to "View Users", users_path %>
<%= link_to "Add Note", new_note_path %>
<%= link_to "View Notes", notes_path %>