// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-container {
	heights: 300px;
	width: 100%;	
}

#home-message {
	font-family: sans-serif;
	color: white;
	font-size: 20px;
	padding: 2px;
	width: 100px;
	border-radius: 8px;
	background-color: black;
}
